



@font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'orange_juiceregular';
    src: url('orange_juice_2.0-webfont.woff2') format('woff2'),
         url('orange_juice_2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

label{
	display:block;
	foont-size: 10px;
}

.titreH1{
	margin-top: 5px;
	margin-bottom: 0px;
}


.titreH2{
	color:#66321a;
	text-align: center;
	font-size: 45px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-family: 'orange_juiceregular', normal, normal;
	
}
.formLogin{
	text-align: right, inherit;
	color:#ad4703;
	font-size: 40px;
	font-weight: bold;
	font-family: 'orange_juiceregular', normal, normal;
	
}

.formInscription{
	background-color :#e7e3e2 ;
	height : 245px;
	margin : 50px,50px,50px,50px;
	text-align: center;
}

.boutonValid{
	font-size : 15px;
	border-radius: 10px;
	font-weight: bold;
	color: #66321a;
	 font-family: 'poppinsregular';
}

.bg{
	color:#c9bbb8;
	text-align: inherit;
	font-size: 55px;
	background-image: url(img/chatchien.jpg);
	height: 600px;
	background-position :top;
	background-repeat: no-repeat;
	background-size: 60%;
	font-family: 'orange_juiceregular', normal, normal;
	
}

.buttonLogin{
	color: #955653;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'poppinsregular';
}

.formInscription input{
	
	border-radius: 10px;
	height: 20px;
}
.msgError{
	color : red;
	text-align : center;
}