
label{
	display:block;
	foont-size: 10px;
}

.titreH1{
	margin-top: 5px;
	margin-bottom: 0px;
}


.titreH2{
	color:#66321a;
	text-align: center;
	font-size: 45px;
	margin-bottom: 10px;
	margin-top: 0px;
	
}
.formLogin{
	text-align: right;
	color:#ad4703;
	font-size: 20px;
	
}

.formInscription{
	background-color :#e7e3e2 ;
	height : 330px;
	margin : 50px,50px,50px,50px;
	text-align: center;
	

}

.boutonValid{
	font-size : 15px;
	border-radius: 10px;
	font-weight: bold;
	color: #66321a;
}

.bg{
	color:#c9bbb8;
	text-align: inherit;
	font-size: 55px;
	background-image: url(img/chatchien.jpg);
	height: 600px;
	background-position :top;
	background-repeat: no-repeat;
	background-size: 60%;
	
}

.buttonLogin{
	color: #955653;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
}
